# Q.1 scrap the data using the filters available on webpage you have to use location and salary filter.You have to scrap data
for "Data Scientist" designation for first 10 job results.You have to scrap job_location,job-title,company-name,experience
required.webpage http://www.naukri.com

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kailashkumar\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kailashkumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kailashkumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By 
import time

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get('http://www.naukri.com/')

In [6]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [7]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [8]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [10]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)  
                        
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)    
                        
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [12]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[0:10],
                 'Location':job_location[0:10],
                 'Company_name':company_name[0:10],
                 'Experience':experience_required[0:10]})
df

,Title,Location,Company_name,Experience
0,DS - NLP Expert BLR HYD GGN,"Hyderabad, Gurugram, Bangalore/ Bengaluru",Genpact,6-11 Yrs
1,GCP Data Architecture and Modeling,"Noida, Hyderabad, Pune",Tata Consultancy Services (TCS),8-13 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
4,Data Science Engineer,"Hybrid - Noida, Pune, Bangalore Rural, Chennai...",Futran Tech Solutions,6-9 Yrs
5,Sr . Data Scientist / Manager,"Noida, Gurugram, Bengaluru",Novitas Infotech,7-10 Yrs
6,Data Scientist,"Noida, Gurugram, Bengaluru",Novitas Infotech,3-7 Yrs
7,Associate Data Scientist,Noida,Times Internet,2-3 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics,0-5 Yrs
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Coders Brain Pvt Ltd,5-10 Yrs

# Q.2 write a python program to scrap data for "Data Scientist" job position in "Banglore" location.You have to scrap the job_title,
job-location,company_name,experience_required.You have to scrap first 10 jobs data.webpage http://www.shine.com/

In [13]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kailashkumar\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kailashkumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kailashkumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By 
import time

In [15]:
driver = webdriver.Chrome()

In [16]:
driver.get('http://www.shine.com/')

In [17]:
designation = driver.find_element(By.CLASS_NAME,"input")
designation.send_keys('Data Analyst')

In [19]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Banglore')

In [20]:
search = driver.find_element(By.CLASS_NAME,"btn")

In [35]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [57]:
title_tags=driver.find_elements(By.XPATH,'//p[@class="JobDetailWidget_jobCard_jobTitle__Ppemk font-size-24"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class="JobDetailWidget_jobCard_lists__3HvvF"]')
for i in location_tags:
    location=i.text
    job_location.append(location)  
                        
company_tags=driver.find_elements(By.XPATH,'//div[@class="JobDetailWidget_jobCard_cName__qvsdW"]/span')
for i in company_tags:
    company=i.text
    company_name.append(company)    
                        
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class="JobDetailWidget_jobCard_lists_item__w6Yow JobDetailWidget_jobIcon__mjaNB undefined"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [58]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [59]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[0:10],
                 'Location':job_location[0:10],
                 'Company_name':company_name[0:10],
                 'Experience':experience_required[0:10]})
df

,Title,Location,Company_name,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
1,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
2,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
3,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
4,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
5,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
6,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
7,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
8,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs
9,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\nRs 3.0 - 5 Lakh/Yr,AppSoft Solutions,0 to 4 Yrs

# Q.3 Scrap 100 reviews data from flipkart.com for iphone11phone.You have to go link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [60]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kailashkumar\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kailashkumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kailashkumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [61]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [62]:
driver = webdriver.Chrome()

In [63]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [64]:
Rating=[]
Review_summary=[]
Full_review=[]

In [65]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()

In [66]:
search_button=driver.find_element(By.XPATH ,'//button[@class="MJG8Up"]')
search_button.click()

In [67]:
search_button=driver.find_element(By.XPATH ,'//button[@class="MJG8Up"]')
search_button.click()

In [73]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in rating_tags:
    rat=i.text
    Rating.append(rat)
Rating[0:4]

['5', '5', '5', '5']

In [74]:
Review=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review:
    rew=i.text
    Review_summary.append(rew)
Review_summary[0:4]

['Terrific purchase', 'Perfect product!', 'Fabulous!', 'Super!']

In [71]:
Full_review_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_review_tags:
    full=i.text
    Full_review.append(full)
Full_review[0:4]

['Value for money üñ§üñ§',
 'Photos super',
 'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà',
 'Good product üëåI love iPhone']

In [75]:
print(len(Rating),len(Review_summary),len(Full_review))

20 20 20

In [76]:
iphone_df=pd.DataFrame=({})
iphone_df['Rating']=Rating
iphone_df['Review_summary']=Review_summary
iphone_df['Full_review']=Full_review
iphone_df

{'Rating': ['5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5',
  '5'],
 'Review_summary': ['Terrific purchase',
  'Perfect product!',
  'Fabulous!',
  'Super!',
  'Perfect product!',
  'Highly recommended',
  'Brilliant',
  'Must buy!',
  'Best in the market!',
  'Excellent',
  'Terrific purchase',
  'Perfect product!',
  'Fabulous!',
  'Super!',
  'Perfect product!',
  'Highly recommended',
  'Brilliant',
  'Must buy!',
  'Best in the market!',
  'Excellent'],
 'Full_review': ['Value for money üñ§üñ§',
  'Photos super',
  'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà',
  'Good product üëåI love iPhone',
  'V Good all',
  'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...',
  'Excellent Phone.',
  'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
  'Superbb performance n camera is awesome üòçüòç',
  'NYC',
  'Value for money üñ§üñ§',
  'Photos super',
  'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà',
  'Good product üëåI love iPhone',
  'V Good all',
  'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...',
  'Excellent Phone.',
  'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
  'Superbb performance n camera is awesome üòçüòç',
  'NYC']}

# Q.4 Scrap data for first 100 sneakers you find when you visit flipkart.com and search for "Sneakers" in the search field. You have to scrap 3 attributes of each sneakers:Brand,ProductDescription,Price.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kailashkumar\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kailashkumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kailashkumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('http://www.flipkart.com/')

In [5]:
search_bar = driver.find_element(By.CLASS_NAME,"Pke_EE")
search_bar.send_keys('Sneakers')

In [6]:
search_button=driver.find_element(By.XPATH ,'//button[@class="_2iLD__"]')
search_button.click()

In [7]:
Brand=[]
Product_name=[]
Price=[]

In [8]:
brand_name=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_name:
    brand=i.text
    Brand.append(brand)

Product_Description=driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
for i in Product_Description:
    Pro=i.text
    Product_name.append(Pro)
    
Price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in Price_tags:
    Pri=i.text
    Price.append(i.text)

In [9]:
print(len(Brand),len(Product_name),len(Price))

40 33 39

In [10]:
Sneakers_df=pd.DataFrame({})
Sneakers_df['Brand']= Brand[0:100]
Sneakers_df['Product_name']=Product_name[0:100]
Sneakers_df['Price']= Price[0:100]
Sneakers_df

ValueError: Length of values (33) does not match length of index (40)

# Q.6 Write e python program to scrap data for 1000 Quotes of all time.The task will be done in 
   following steps:
    1.first get webpage https://www.azquotes.com
    2.click on top quote
    3.then scrap a)quote,b)author,c)type of quote.

In [11]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kailashkumar\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\kailashkumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kailashkumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kailashkumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kailashkumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [12]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [13]:
driver=webdriver.Chrome()

In [16]:
driver.get('https://www.azquotes.com/')

In [17]:
search_bar = driver.find_element(By.CLASS_NAME,"front")
search_bar.send_keys('Top Quote')

In [19]:
Quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in Quote_tags:
    Quote_tags=[]
    Quote_tags.append(i.text)
Quote_tags[0:10]

['Change your thoughts and you change your world.']

In [20]:
Author_Name=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_Name:
    Author_Name=[]
    Author_Name.append(i.text)
Author_Name[0:10]

['Norman Vincent Peale']

In [22]:
Type_Of_Quote=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Type_Of_Quote:
    Type_Of_Quote=[]
    Type_Of_Quote.append(i.text)
Type_Of_Quote[0:10]

['Inspirational, Motivational, Change']

In [23]:
print(len(Quote_tags),len(Author_Name),len(Type_Of_Quote))

1 1 1

In [24]:
Quote_df=pd.DataFrame({})
Quote_df['Quote_tags']=Quote_tags[0:10]
Quote_df['Author_Name']=Author_Name[0:10]
Quote_df['Type_Of_Quote']=Type_Of_Quote[0:10]
Quote_df

,Quote_tags,Author_Name,Type_Of_Quote
0,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"